<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outsource.ecg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ecg_mobile"
        android:label="@string/ecg_client_title" >
        <activity
            android:name="com.outsource.ecg.app.EcgClientActivity"
            android:label="@string/ecg_client_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.outsource.ecg.app.EcgServerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/ecg_server_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.outsource.ecg.app.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device" />
        <activity
            android:name="com.outsource.ecg.app.ECGUserManageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/user_manager_title" >
            <intent-filter>
                <action android:name="com.outsource.ecg.ECG_MANAGER_MANAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.outsource.ecg.app.CreateNewUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/new_user_title" >
            <intent-filter>
                <action android:name="com.outsource.ecg.ECG_NEW_USER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.outsource.ecg.app.ECGUserHistroyRecordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/view_histroy_records_title" >
            <intent-filter>
                <action android:name="com.outsource.ecg.VIEW_HISTORY_RECORDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

</manifest>